{% extends 'layout.html' %}
{% block content %}
	<p>This text summarizer is the extractive type of summarizer. There are basically two types of summrization techniques abstractive summarization and extractive summarization.
	The extractive summarization can be compared to a highlighter. Just like the highlighter the extractive summarization selects the most important sentences from the text and collect them to make the summary. So basically all the sentences in the summary are some of the sentences from the original text which were considered important by our algorithm.
	<br>
	<br>
	Abstractive summarization can be compared to a human who tries to write the summary of a text by reading it and grasping the knowledge and emotions out of it. So there may or may not be sentences from the original text in the summary.
	<br>
	<br>
	This online text summarizer uses the term frequency, inverse document frequency(TF-IDF) method of document weighting</p>

{% endblock content %}